/* src/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: opacityTransition .5s ease-in-out;
  }

    @keyframes opacityTransition {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
  
  .modal-content {
    display: flex;
    background: white;
    border-radius: 8px;
    position: relative;
    width: 600px;
    max-width: 80%;
    animation: tranlateTransition .3s ease-in-out;
  }

  .modal-child {
    padding: 20px;
  }

  .modal-side {
    background-color: #3498db;
    width: 200px;
  }

  @keyframes tranlateTransition {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
  
  .modal-close {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  